*{
	font-family: 'Raleway', sans-serif;
}
body{
	background: #d6d6d6;
	color: #333;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

#masterContainer{
	width: 100vw;
	height: 100vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logindiv{
	background: #dfdfdf;
	padding: 50px 20px;
	border-radius: 3px;
	box-shadow: 0 0 3px #888;
}
#logindiv span {
	width: 80px;
	display: inline-block;
	font-size: 15px;
}
#logindiv input {
	width: 220px;
	height: 30px;
	padding: 5px;
	margin: 5px 0px;
	display: inline-block;
	font-size: 15px;
	outline: none;
	transition: 0.2s;
	border: 1px solid #aaa;
}
#logindiv input[type=submit] {
	display: block;
	width: 100%;
	margin:  20px 0 0 0;
	border: 0;
	border-radius: 3px;
	background-color: #29b0d0;
	color: #fff;
	height: 35px;
}
#logindiv input[type=submit]:hover {
	background: #2990a0;
	
}
.logo {
	background-image: url(./logo.png);
	background-size: contain;
	filter: hue-rotate(120);
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto 20px auto;
}

#about{
	width: 100%;
	text-align: center;
	bottom: 20px;
	position: fixed;
	color: #777;
	font-weight: 300;
	text-shadow: 0 0 0px #b1b1b1;
}
html {
	height: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
	color: inherit;
}

input[type=submit]{
	padding: 10px;
	background-color: #29b0d0;
	color: #fff;
	border: 0;
	border-radius: 3px;
	font-size: 13px;
	outline: none;
}

input[type=text], input[type=password]{
	padding: 10px;
	background-color: #eee;
	color: #000;
	border: 1px solid #ccc;
	font-size: 13px;
	border-radius: 3px;
	min-width: 270px;
	outline: none;
	transition: 0.2s;
}

input[type=text]:hover, input[type=password]:hover{
	border: 1px solid #aaa;
}

input[type=text]:focus, input[type=password]:focus{
	border: 1px solid #29b0d0;
}
nav {
	height: 60px;
	background: #fff;
	display: block;
	padding: 0;
	-webkit-box-shadow: 0 0px 2px #777;
	-moz-box-shadow: 0 0px 2px #777;
	box-shadow: 0 0px 2px #777;
	z-index: 9999;
	color: #333;
	box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
}
#title {
	width: 80px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 14px;
	color: #655dff;
	display: inline-block;
	margin: 0;
	height: 59px;
	min-width: 60px;
	cursor: pointer;
	max-width: 200px;
}
#search{
	display: inline-block;
	width: 250px;
	height: 40px;
	margin: 10px 25px;
	background-color: #29b0d0;
	position: absolute;
	border: 0;
	box-shadow: 0 0 2px #ddd;
	color: #fff;
}
#search::placeholder{
	color: #ddd;
}
#headerRight {
	height: 60px;
	margin: 0;
}
.headerButton {
    margin: 10px 5px;
    background-color: #29b0d0;
    color: #fff;
    min-width: 40px;
    border: 0;
    border-radius: 4px;
	height: 40px;
	box-shadow: 0 0 3px #cccccc;
}
.headerButton:hover {
	background: #f0f0f0;
	transition: 0.2s;
}
.headerText {
	font-weight: 400;
	font-size: 15px;
	padding: 0;
	margin: 9px 12px 9px 2px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.userPhoto {
	width: 30px;
	height: 30px;
	margin: 5px;
	display: inline-block;
	border-radius: 15px;
	background-size: contain;
}

.mainContent{
	padding-top: 100px;
	background-color: #f6f6f6;
	padding-bottom: 40px;
	box-shadow: 0 0 20px 2px #aaa;
	min-height: 100%;
	position: relative;
}

.post {
	min-width: 500px;
	max-width: 800px;
	min-height: 200px;
	position: relative;
	margin: 30px auto;
	margin-bottom: 60px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 10px 0px 0px #29b0d0, 0 4px 8px 0 rgba(0,0,0,0.2);
	display: block;
	transition: 0.3s;
}
.post:hover {
	box-shadow: 0 10px 0px 0px #2292ac, 0 8px 16px 0 rgba(0,0,0,0.2);
}
.post .row > .col > *{
	display: inline-block;
	vertical-align: middle;
}
.postText {
	padding-bottom: 60px;
    margin: 20px;
}
.postTitle {
	padding: 2px 20px 10px 20px;
	display: block;
    font-size: 1.5em;
	color: #333;
	text-align: center;
}
.react {
	width: 100%;
	left: 0;
	height: 60px;
	bottom: 0;
	left: 15px;
	position: absolute;
    background-color: #eee;
    overflow: hidden;
	border: 0;
	padding: 0;
	border-top: 1px solid #ddd;
}
.reactButton{
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border-radius: 40px;
	border: 1px solid #ddd;
	display: inline-block;
	background: #fff;
	color: #555;
	position: relative;
	bottom: 0;
	transition: 0.2s;
	margin: 10px;
}
.reactButton:focus{
	outline: none;
}
.react > input[type=submit]{
	background: #eee;
	color: #666;
}

.react > input[type=submit]:hover {
	background: #e0e0e0;
	transition: 0.2s;
	color: #29b0d0;
}
.reactButton:hover {
	background-color: #555;
	color: #fff;
	border: 0;
	cursor: pointer;
}

._thumbsup:hover {
	background-color: #29b0d0;
}

._heart:hover {
	background-color: #f03;
}
._comments{
	
}
._comments:hover {
	background-color: #555;
}
._post:hover {
	background-color: #590;
}
.comments {
	left: 0;
	height: 0px;
	position: relative;
    background-color: #f4f4f4;
    overflow: hidden;
	border: 0;
	padding: 0;
	border-top: 1px solid #ddd;
	display: block;
	overflow-y: scroll;
	max-height: 199px;
	padding: 10px 10px 10px 0;
}
.UpostText {
	display: block;
	height: 180px;
	margin: 20px;
	margin-bottom: 0px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fcfcfc;
	max-height: 160px;
	outline: 0px;
	resize: none;
	padding: 10px;
}
.UpostText:hover  {
	transition: 0.2s;
	border: 1px solid #aaa;
}
.UpostText:focus {
	transition: 0.2s;
	border: 1px solid #29b0d0;
}
hr { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
#register{
	width: 380px;
	margin: 0 auto;
	margin-top: 100px;
	height: 550px;
	background-color: #fff;
	border-radius: 3px;
	font-size: 14px;
	border: 1px solid #ccc;
	box-shadow: 0 5px 10px -2px #888;
	font-weight: 300;
}
#register input{
	display: block;
	margin-top: 15px;
	width: 270px;
}
#register form {
	padding-top: 15px;
	width: 270px;
	margin: auto;
	display: block;	
}
#register h1 {
    margin: 15px;
	font-size: 30px;
}
#register h3 {
	margin-top: 10px;
	font-size: 20px;
}

.comment{
	background: white;
	max-height: 50px;
	padding: 5px;
	border-radius: 10px;
	margin: 15px;
	box-shadow: 0 0 15px #d8d8d8;
	display: block;
}
.commentUserImage{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin: 5px;
}
.commentUser{
	font-weight: 700;
}
.commentText{
	font-weight: 200;
    font-family: monospace;
}
.commentInput{
	height: 40px;
	width: 200px;
	border-radius: 20px;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	background: #fff;
	color: #555;
	position: relative;
	bottom: 0;
	outline: 0;
}