#adminlogin{
	width: 300px;
	height: 400px;
	background: #fff;
	border-radius: 3px;
	margin: 0 auto;
	border: 1px solid #ddd;
	box-shadow: 0 0px 6px #ddd;
	margin-top: 100px;
}
#adminlogin table{
	width: 300px;
	height: 400px;
}
#adminlogin input[type=submit]{
	width: 270px;
}
.center {
	margin: auto;
	display: block;
}

hr { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
  #dashboardcontainer{
	  display: flex;
	  flex-wrap: wrap;
	  line-height: normal;
	  flex-direction: row;
	  justify-content: center;
	  align-content: center;
}
  .dashboardItem{
	  width: 250px;
	  height: 200px;
	  border: 1px solid #ddd;
	  box-shadow: 0 0px 6px #ccc;
	  background: #0077ff;
	  color: #fff;
	  border-radius: 3px;
	  margin: 20px;

  }
  .dashboardItem h2{
	font-size: 25px;
	font-weight: 200;
	padding: 10px;
	border-bottom: 1px solid #000;
	background-color: #fff;
	color: #666;
	margin: 0;
}
.dashboardItem h1{
	font-size: 120px;
	font-weight: 600;
	margin: 0;
}
.admintable{
    box-shadow: 0 0px 6px #ccc;
	border-radius: 3px;
	text-align: center;
	max-width: 90%;
    margin-left: 5%;
}
.admintable td{
	padding: 10px;
	max-width: 300px;
	height: 60px;
}
.settingsrow{
	margin: 40px 0;
}
#menu {
	width: 80px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: #0077ff;
	display: block;
	padding: 0;
	-webkit-box-shadow: 0 0px 2px #777;
	-moz-box-shadow: 0 0px 2px #777;
	box-shadow: 0 0px 2px #777;
}
.menuItem {
	height: 80px;
	width: 80px;
	background-color: #0077ff;
	color: #fff;
	display: flex;
	align-items: center;
	transition: 0.2s;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #006699;
}
.menuItem:hover {
	background: #fff;
	color: #0077ff;
	transition: 0.2s;
	text-decoration: none;
}
.menuItem i {
	text-align: center;
	font-size: 20px;
	display: block;
	margin: 0 auto;
}
#logo {
	height: 80px;
	width: 80px;
	background-color: #0077ff;
	color: #fff;
	display: flex;
	align-items: center;
	transition: 0.2s;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #006699;
}
#logo img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	display: block;
}
#setting_submit {
	min-width: 270px;
}
nav {
	position: absolute;
	top: 20px;
	left: 100px;
	width: calc(100% - 120px);
	background: #e6e6e6;
	height: 100px;
	border: 1px solid #ccc;
}
.mainContent{
	position: absolute;
	top: 140px;
	left: 100px;
	background: #e6e6e6;
	width: calc(100% - 120px);
	border: 1px solid #ccc;
}
.logoutBtn{
	width: 30px;
    height: 30px;
    border: 0;
	font-weight: 300;
	font-size: 16px;
	background: transparent;
	display: block;
}
.logoutBtn i{
	margin-top: -18px;
	font-size: 16px;
}
.headerText {
	height: 30px;
    display: inline-block;
    font-size: 20px;
    border: 0;
	font-weight: 300;
}
.headerText i {
	font-size: 24px;
}
.usericon {
	margin-right: 10px;
}
.buttonsNav{
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
}