#adminlogin{
	width: 300px;
	height: 400px;
	background: #fff;
	border-radius: 3px;
	margin: 0 auto;
	border: 1px solid #ddd;
	box-shadow: 0 0px 6px #ddd;
	margin-top: 100px;
}
#adminlogin table{
	width: 300px;
	height: 400px;
}
#adminlogin input[type=submit]{
	width: 270px;
}
.center {
	margin: auto;
	display: block;
}
hr { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
  #dashboardcontainer{
	  display: flex;
	  flex-wrap: wrap;
	  line-height: normal;
	  flex-direction: row;
	  justify-content: center;
	  align-content: center;
}
  .dashboardItem{
	  width: 250px;
	  height: 200px;
	  border: 1px solid #ddd;
	  box-shadow: 0 0px 6px #ccc;
	  background: #0077ff;
	  color: #fff;
	  border-radius: 3px;
	  margin: 20px;

  }
  .dashboardItem h2{
	font-size: 25px;
	font-weight: 200;
	padding: 10px;
	border-bottom: 1px solid #000;
	background-color: #fff;
	color: #666;
	margin: 0;
}
.dashboardItem h1{
	font-size: 120px;
	font-weight: 600;
	margin: 0;
	padding: 10px;
}
.admintable{
    box-shadow: 0 0px 6px #ccc;
	border-radius: 3px;
	text-align: center;
	max-width: 90%;
    margin-left: 5%;
}
.admintable td{
	padding: 10px;
	max-width: 300px;
	height: 60px;
}
.settingsrow{
	margin: 40px 0;
}
#menu {
	width: 80px;
	height: calc(100% - 60px);
	position: fixed;
	top: 60px;
	left: 0;
	border-right: 1px solid #aaa;
    box-shadow: 0 0px 6px #aaa;
	background: #fff;
	display: block;
}
.menuItem {
	height: 50px;
	width: 50px;
	border: 0;
	background-color: #0077ff;
	border-radius: 25px;
	margin: 15px;
	color: #fff;
	box-shadow: inset 0 0 10px 0px #666;
	display: flex;
	align-items: center;
	transition: 0.2s;
}
.menuItem:hover {
	background: #fff;
	color: #0077ff;
	transition: 0.2s;
	text-decoration: none;
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}
.menuItem i {
	text-align: center;
	font-size: 20px;
	display: block;
	margin: 0 auto;
}
#setting_submit {
	min-width: 270px;
}